@{
  Layout = "_Layout";
}

<h1>Add a new order to @Model.VendorName</h1>
<form action="vendor/@Model.vendorId/order" method="post">
  <input id="vendorId" type="hidden" value="@Model.vendorId">
  <div>
    <label for="">
    </label>
  </div>

</form>