@{
  Layout= "_Layout";
}

<h1>@Model["vendor"].VendorName</h1>
<h2>Order Information:</h2>

<div>
  <p>@Model["order"].Name</p>
  <p>@Model["order"].Description</p>
  <p>$@Model["order"].Price</p>
  <p>@Model["order"].Date</p>
</div>

<div>
  <p><a href='/vendor/@Model["vendor"].Id/order/new'>Would you like to add another order?</a></p>
  <p><a href='/vendor'>Would you like to view all the vendors?</a></p>
  <p><a href='/'>Would you like to return to the Home Page?</a></p>
</div>