@{
  Layout= "_Layout";
}

<h1>@Model["vendor"].VendorName</h1>
<h2>Order Information:</h2>

<div>
  <p>@Model[""]</p>
  <p>@Model[""]</p>
  <p>$@Model[""]</p>
  <p>@Model[""]</p>
</div>

<div>
  <p></p>
</div>