@{
  Layout = "_Layout";
}
<div>
  <h1>Welcome to the Vendor Tracker!</h1>
  <h2>We have made it so you can track Vendors and their Orders easily.</h2>
  <h3><a href='/vendor'>View Current List of Vendors</a></h3>
  <h3><a href='/vendor/new'>Add a new vendor to your data base!</a></h3>
</div>